<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cloud technologies | Homework</title>
  <link rel="stylesheet" href="/static/lib/bs5/bootstrap.min.css">
  <script>
    const BUCKET_URL = '{{ bucket_url }}';
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">File server</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <main class="container">
    <button type="button"
            class="btn btn-dark mt-3"
            data-bs-toggle="modal"
            data-bs-target="#modal-upload-file">
      Upload a new file
    </button>

    <table class="table w-100 mt-3">
      <caption>Files, which uploaded by users</caption>

      <tr>
        <th>File name</th>
        <th>Uploaded</th>
        <th>Actions</th>
      </tr>

      {% for file in files %}
        <tr>
          <td>
            <a href="{{ file.url }}">{{ file.key }}</a>
          </td>
          <td>
            <div class="btn-group">
              <a class="btn btn-outline-primary" download href="{{ file.url }}">Download</a>
              <a class="btn btn-outline-danger btn-file-prune" data-key="{{ file.key }}">Prune</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </main>

    <div class="modal fade" tabindex="-1" id="modal-upload-file">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">File upload modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Please select a file which you want to upload and press the submit file button</p>
            <label>
              File
              <input type="file" id="inp-file-upload">
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btn-file-upload" disabled>Submit file</button>
          </div>
        </div>
      </div>
    </div>

  {# Page scripts #}
  <script src="/static/lib/bs5/bootstrap.min.js"></script>
  <script src="/static/js/index.js" type="module"></script>
</body>
</html>
